[submodule "data-logger/third_party/tbb"]
	path = data-logger/third_party/tbb
	url = https://github.com/01org/tbb.git
[submodule "data-logger/third_party/screen_capture_lite"]
	path = data-logger/third_party/screen_capture_lite
	url = https://github.com/smasherprog/screen_capture_lite.git
[submodule "data-logger/third_party/DirectXTK12"]
	path = data-logger/third_party/DirectXTK12
	url = https://github.com/microsoft/DirectXTK12.git
[submodule "data-logger/third_party/DirectXTK"]
	path = data-logger/third_party/DirectXTK
	url = https://github.com/microsoft/DirectXTK.git
[submodule "data-logger/src/controllers/python_cpp_bindings/pybind11"]
	path = data-logger/src/controllers/python_cpp_bindings/pybind11
	url = https://github.com/pybind/pybind11.git
[submodule "rosbindings/rqt_bag"]
	path = rosbindings/rqt_bag
	url = https://github.com/ros-visualization/rqt_bag.git
[submodule "rosbindings/image_common"]
	path = rosbindings/image_common
	url = https://github.com/ros-perception/image_common.git
[submodule "rosbindings/vision_opencv"]
	path = rosbindings/vision_opencv
	url = https://github.com/ros-perception/vision_opencv.git
