[submodule "data-logger/third_party/screen_capture_lite"]
	path = data-logger/third_party/screen_capture_lite
	url = https://github.com/smasherprog/screen_capture_lite.git
[submodule "data-logger/src/controllers/python_cpp_bindings/pybind11"]
	path = data-logger/src/controllers/python_cpp_bindings/pybind11
	url = https://github.com/pybind/pybind11.git
[submodule "vJoy"]
	path = vJoy
	url = https://github.com/linklab-uva/vJoy.git
